.HomeMain {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}
.HomeMain .pic {
  height: 440px;
  background-image: url(../../assets/WechatIMG8.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.HomeMain .title {
  text-align: center;
  margin-top: 20px;
}
.HomeMain .subTitle {
  font-size: 1.6rem;
  color: #6a8bad;
  text-align: center;
}
