.SideBar {
  position: fixed;
  overflow-y: auto;
  height: 100%;
}
.SideBar :global .ant-menu {
  margin-top: 30px;
}
.SideBar :global .ant-menu .ant-menu-item {
  background-color: #fff;
}
.SideBar :global .ant-menu .ant-menu-sub {
  background-color: #fff;
}
