.App {
  * {
    margin: 0;
    padding: 0;
  }
  :global {
    .ant-layout-sider {
      height: 809px !important;
    }
    .ant-layout-header {
      width: 100%;
      position: fixed;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid rgb(228, 226, 226);
      z-index: 999;
    }
    .ant-layout-content {
      height: 100%;
    }
  }
}